.btn-accueil {
    margin-top: 80px;
}

#section-banniere-accueil {
    /* background-color: #cccccc; */
    position: relative;
    width: 100%;
    height: 600px;
    /* Set the desired height of your banner */
    overflow: hidden;
}

/* 
    Baniere taille
    height : 600 px
    width : 1900 px

    Produit et coach 
    Height = width ( carré )
*/

h1 {
    margin: 0;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    align-items: center;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    /* Aligns text vertically center */
    left: 20%;
    transform: translateY(-50%);
    /* Centers the text vertically */

}

.slide .text p {
    color: #fff;
    text-align: center;
    text-shadow: 3px 3px 5px black;
    font-size: 24px;
    font-weight: bold;
    max-width: 50ch;
    /* Maximum 10 characters per line */
    word-wrap: break-word;
    /* Wrap the text to the next line */
}

.slide a {
    background-color: #91cf05;
    color: white;
    border: none;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    cursor: pointer;
}

.active-slide {
    opacity: 1;
}

@media (max-width: 425px) {
    #section-banniere-accueil {
        height: 200px;
        /* Adjust the height for smaller screens */
        margin-top: 20px;
    }

    .slide .text {
        width: 40%;
        /* top: 50%; */
        /* Aligns text vertically center */
        left: 10%;
        /* transform: translateY(-50%); */
    }

    .slide .text p {
        font-size: 12px;
        /* text shadow so it can be visible on light pictures */
        /* Further reduce font size for smaller screens if needed */
        max-width: 90%;
        /* Adjust maximum width */
    }

    .slide a {
        font-size: 12px;
        padding: 5px 10px;
        /* Adjust padding */
    }
}

#section-bienvenue {
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    font-family: "Montserrat";
}

#bienvenue-gauche {
    width: 60%;
}

#bienvenue-gauche img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#bienvenue-droite {
    padding: 70px;
    width: 40%;
}

/* first p of bienvenue-droite */
#bienvenue-droite p:first-child {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 0;
}

/* second p of bienvenue-droite */
#bienvenue-droite p:nth-child(2) {
    font-size: 13px;
    /* distance bettwen letters */
    letter-spacing: 3px;
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
}

/* third p of bienvenue-droite */
#bienvenue-droite p:nth-child(3) {
    font-size: 14px;
    margin-top: 60px;
    color: white;
    text-align: center;
    line-height: 2;
}

#bienvenue-droite a {
    color: white;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

@media (max-width: 425px) {
    #section-bienvenue {
        margin: 20px 10px 20px 10px;
        flex-direction: column-reverse;
        height: auto;
    }

    #bienvenue-droite {
        text-align: center;
        /* Center text on smaller screens */
        padding: 0px;
        /* width: 385px; */
        width: 100%;
    }

    #bienvenue-droite * {
        padding: 10px;
    }

    #bienvenue-droite p:first-child {
        font-size: 30px;
        padding-bottom: 0;
        /* Adjust font size for smaller screens */
    }

    #bienvenue-droite p:nth-child(2) {
        font-size: 10px;
        padding-top: 5px;
        padding-bottom: 10px;
        margin-bottom: 0;
        /* Adjust font size for smaller screens */
    }

    #bienvenue-droite p:nth-child(3) {
        font-size: 12px;
        /* Adjust font size for smaller screens */
        margin: 0;
        padding-bottom: 0;
        padding-top: 0;
    }

    #bienvenue-droite .button-center {
        margin: 5px 0 10px 0;
    }

    #bienvenue-droite a {
        padding: 6px 15px;
        /* Adjust padding for smaller screens */
    }

    #bienvenue-gauche {
        width: 100%;
        /* Adjust width for smaller screens */
    }

    #bienvenue-gauche img {
        height: 200px;
        /* Adjust height for smaller screens */
    }

}

/*  */
#section-evenement-accueil {
    margin-top: 100px;
    display: flex;
    font-family: "Montserrat";
    flex-direction: column;
    align-items: center;
    padding: 50px 50px 70px 50px;
}

#section-evenement-accueil .btn-accueil a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

#section-evenement-accueil>p:first-child {
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin: 0;
}

#section-evenement-accueil>p:nth-child(2) {
    font-size: 13px;
    /* distance bettwen letters */
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.evenement-div-accueil {
    display: flex;
    flex-direction: column;
    padding: 20px 2% 0px 2%;
    border-radius: 20px;
    width: 45%;
    height: 300px;
    color: white;
}

.btn-ensavoirplus-event {
    display: flex;
    justify-content: flex-end;
}

.btn-ensavoirplus-event a {
    background-color: #91cf05;
    /* Style the first link in each .div-admin */
    /*  important color:white */
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

@media (max-width: 425px) {

    #section-evenement-accueil {
        margin-top: 10px;
        margin-bottom: 10px;
        height: auto;
        padding: 20px;
        padding-bottom: 30px;
    }

    #section-evenement-accueil>p:first-child {
        font-size: 30px;
    }

    #section-evenement-accueil>p:nth-child(2) {
        font-size: 10px;
        letter-spacing: 2px;
        margin-top: 5px;
    }

    .evenement-div-accueil {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        padding: 0;
    }

    .btn-ensavoirplus-event {
        margin-top: 10px;
        justify-content: flex-start;
    }

    .btn-ensavoirplus-event a {
        padding: 6px 10px;
        font-size: 12px;
    }

    .evenement-div-accueil:nth-of-type(2) {
        display: none;
    }
}

#section-galerie-accueil {
    margin-left: 300px;
    margin-right: 300px;
    font-family: "Montserrat";
    padding: 50px 50px 70px 50px;

}

/* first p of galerie */
#section-galerie-accueil p:first-child {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

/* second p of galerie */
#section-galerie-accueil p:nth-child(2) {
    font-size: 13px;
    /* distance bettwen letters */
    letter-spacing: 3px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* third p of galerie */
#section-galerie-accueil p:nth-child(3) {
    font-size: 14px;
    line-height: 2;
    text-align: center;
}

#galerie-images-accueil {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

#section-galerie-accueil img {
    width: 250px;
    height: 250px;
    border: black solid .1px;
}

#section-galerie-accueil a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

@media (max-width: 425px) {
    #section-galerie-accueil {
        margin-left: 10px;
        /* Adjust margin for smaller screens */
        margin-right: 10px;
        /* Adjust margin for smaller screens */
        height: auto;
        /* Allow height to adjust based on content */
        padding: 20px;
        /* Adjust padding for smaller screens */
    }

    #section-galerie-accueil p:first-child {
        font-size: 30px;
        /* Adjust font size for smaller screens */
    }

    #section-galerie-accueil p:nth-child(2) {
        font-size: 10px;
        /* Adjust font size for smaller screens */
        letter-spacing: 2px;
        /* Adjust letter spacing for smaller screens */
        margin-top: 5px;
        /* Adjust margin for smaller screens */
    }

    #section-galerie-accueil p:nth-child(3) {
        font-size: 12px;
        /* Adjust font size for smaller screens */
        margin-top: 10px;
        /* Adjust margin for smaller screens */
        line-height: 1.5;
    }

    #galerie-images-accueil {
        align-items: center;
        margin-top: 30px;
        /* flex-wrap: wrap;*/
        justify-content: center;
    }

    .btn-accueil {
        margin-top: 10px;
    }

    #section-galerie-accueil img {
        width: 45%;
        /* Adjust image width for smaller screens */
        height: 165px;
        /* Allow the image to adjust its height based on width */
        margin-bottom: 20px;
        /* Adjust margin between images for smaller screens */
        border: blue solid .1px;
    }

    #section-galerie-accueil a {
        padding: 8px 15px;
        /* Adjust padding for smaller screens */
    }

    .image-slider {
        position: relative;
        overflow: hidden;
    }

    .image-slider img {
        width: 100%;
        display: none;
    }

    .image-slider img:first-child {
        display: block;
    }

    .slider-dots {
        text-align: center;
        margin-bottom: 20px;
    }

    .slider-dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ccc;
        margin: 0 5px;
        cursor: pointer;
    }

    .slider-dot.active {
        background-color: #333;
    }

}

/*  */
#section-produit-accueil {
    display: flex;
    font-family: "Montserrat";
    flex-direction: column;
    align-items: center;
    padding: 50px 50px 70px 50px;
}

#section-produit-accueil a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

#section-produit-accueil>p:first-child {
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin: 0;
}

/* second p of produit-vedette */
#section-produit-accueil>p:nth-child(2) {
    font-size: 13px;
    /* distance bettwen letters */
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin: 0;
}

#produits-accueil {
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    flex-direction: row;
    height: 400px;
    background-color: white;
}

.produit-accueil {
    padding: 40px;
    border-left: solid #c0c0c0 .1px;
}

.produit-accueil img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.nom-produit-accueil {
    font-size: 18px;
    margin-top: 20px;
}

.prix-produit-accueil {
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 425px) {
    #section-produit-accueil {
        margin-top: 10px;
        /* Adjust margin for smaller screens */
        margin-bottom: 10px;
        ;
        height: auto;
        /* Allow height to adjust based on content */
        padding: 20px;
        /* Adjust padding for smaller screens */
    }

    #section-produit-accueil>p:first-child {
        font-size: 30px;
        /* Adjust font size for smaller screens */
    }

    #section-produit-accueil>p:nth-child(2) {
        font-size: 10px;
        /* Adjust font size for smaller screens */
        letter-spacing: 2px;
        /* Adjust letter spacing for smaller screens */
        margin-top: 5px;
        /* Adjust margin for smaller screens */
    }

    #produits-accueil {
        margin-left: 10px;
        /* Adjust margin for smaller screens */
        margin-right: 10px;
        /* Adjust margin for smaller screens */
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        height: auto;
        /* Allow height to adjust based on content */
        margin-top: 30px;
        margin-bottom: 20px;

    }

    .produit-accueil {
        display: none;
    }

    .produit-accueil:first-child {
        display: block;
    }


    .produit-accueil {
        padding: 20px;
        /* Adjust padding for smaller screens */
        border-left: none;
        /* Remove left border on smaller screens */
        border-bottom: solid #c0c0c0 .1px;
        /* Add bottom border for separation */
    }

    .produit-accueil img {
        width: 100%;
        /* Occupy full width on smaller screens */
        height: auto;
        /* Allow the image to adjust its height based on width */
        margin-bottom: 10px;
        /* Adjust margin between images for smaller screens */
    }

    .nom-produit-accueil,
    .prix-produit-accueil {
        text-align: center;
        /* Center text on smaller screens */
    }
}


#section-coach-accueil {
    margin-left: 300px;
    margin-right: 300px;
    font-family: "Montserrat";
    padding: 50px 50px 70px 50px;
}

/* first p of coach */
#section-coach-accueil>p:first-child {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

/* second p of coach */
#section-coach-accueil>p:nth-child(2) {
    font-size: 13px;
    /* distance bettwen letters */
    letter-spacing: 3px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* third p of coach */
#section-coach-accueil>p:nth-child(3) {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 30px;
    text-align: center;
}


#section-coach-accueil a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}


#coachs-accueil {
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
}

.coach-accueil {
    display: flex;
    width: 47%;
    margin-bottom: 30px;
    gap: 20px;
    justify-content: space-between;
}

.image-contact-coach-accueil {
    display: flex;
    flex-direction: column;
    width: 35%;
    border: black solid .1px;
}

.info-coach-accueil {
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: center;
}

.image-coach-accueil {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.contact-coach-accueil {
    display: flex;
    height: 50px;
}

.contact-coach-accueil img:first-of-type {
    background-color: rgb(184, 0, 0);
    width: 50%;
}

.contact-coach-accueil img:last-of-type {
    background-color: rgb(0, 0, 196);
    width: 50%;
}

.nom-coach-accueil {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
}


.titre-coach-accueil {
    font-size: 13px;
    /* distance bettwen letters */
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}

.description-coach-accueil {
    font-size: 14px;
    line-height: 2;
    text-align: center;
}

@media (max-width: 425px) {
    #section-coach-accueil {
        margin-left: 10px;
        margin-right: 10px;
        height: auto;
        padding: 20px;
        margin-bottom: 20px;
    }

    #section-coach-accueil>p:first-child {
        font-size: 30px;
    }

    #section-coach-accueil>p:nth-child(2) {
        font-size: 10px;
        letter-spacing: 2px;
        margin-top: 5px;
    }

    #section-coach-accueil>p:nth-child(3) {
        font-size: 12px;
        margin-top: 10px;
    }

    #coachs-accueil {
        gap: 10px;
    }

    .coach-accueil {
        width: 100%;
    }

    .image-contact-coach-accueil {
        width: 100%;
    }

    .info-coach-accueil {
        width: 100%;
    }

    .image-coach-accueil {
        width: 100%;
        height: auto;
    }

    .contact-coach-accueil {
        height: auto;
        flex-direction: column;
    }

    .contact-coach-accueil img {
        width: 100%;
    }

    .nom-coach-accueil,
    .titre-coach-accueil,
    .description-coach-accueil {
        text-align: center;
    }

    .coach-accueil:nth-of-type(2) {
        display: none;
    }
}