#form-add-evenement{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
    font-family: "Montserrat";
    margin-bottom: 100px;
    border: solid .1px #eee;
    border-radius: 5px;
    background-color: #fafafa;
    padding: 20px 20px 30px 20px;

}

#form-add-evenement h1{
    text-align: center;
    margin-bottom: 50px;
}

#form-add-evenement input[type="checkbox"]{
    width: 20px;
}

#form-add-evenement .checkbox-group{
    margin-top: 10px;
    display: flex;
}

#form-add-evenement .checkbox-group label{
    margin-right: 30px;
}