#section-admin {
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    font-family: "Montserrat";
}

#section-admin h1 {
    text-align: center;
    margin-bottom: 50px;
}

.flex-divs-admin {
    display: flex;
    flex-wrap: wrap;
}

.div-admin {
    border: solid .1px #eee;
    border-radius: 5px;
    background-color: #fafafa;
    padding: 0px 20px 30px 20px;
    margin-right: 20px;
    width: 45%;
    margin-bottom: 50px;

}

.div-admin h3 {
    margin-bottom: 30px;
}

.div-admin a {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.div-admin a:nth-of-type(1) {
    background-color: #10a87d;
    /* Style the first link in each .div-admin */
    color: white;
}

.div-admin a:nth-of-type(2) {
    background-color: blue;
    color: white;
}

/* 1024px */

@media (max-width: 1024px) {
    #section-admin {
        margin-left: 5px; /* Further reduce the left margin for smaller screens */
        margin-right: 5px; /* Further reduce the right margin for smaller screens */
        margin-top: 50px;
    }

    .flex-divs-admin{
        justify-content: center;
    }

    .div-admin {
        padding: 0px 5px 15px 5px; /* Adjust padding for smaller screens */
        width: 45%;
        
    }

    .div-admin h3 {
        margin-bottom: 20px; /* Further reduce the margin for smaller screens */
        text-align: center;
    }

    .div-admin a {
        padding: 8px 14px;
        font-size: 16px;
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s;
        margin: 0px 0px 10px 10px;
    }
}

/* 768px */

@media (max-width: 768px) {
    #section-admin {
        margin-left: 5px; /* Further reduce the left margin for smaller screens */
        margin-right: 5px; /* Further reduce the right margin for smaller screens */        
    }

    .flex-divs-admin{
        justify-content: center;
    }

    .div-admin {
        padding: 0px 5px 15px 5px; /* Adjust padding for smaller screens */
        margin-right: 0; /* Remove right margin for smaller screens */
        width: 80%;
    }

    .div-admin h3 {
        margin-bottom: 20px; /* Further reduce the margin for smaller screens */
        text-align: center;
    }

    .div-admin a {
        padding: 10px 16px;
        font-size: 16px;
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s;
    }
}

/* 480px */

@media (max-width: 480px) {
    #section-admin {
        margin-left: 5px; /* Further reduce the left margin for smaller screens */
        margin-right: 5px; /* Further reduce the right margin for smaller screens */
    }

    .div-admin {
        padding: 0px 5px 15px 5px; /* Adjust padding for smaller screens */
        margin-right: 0; /* Remove right margin for smaller screens */
        width: 100%;
    }

    .div-admin h3 {
        margin-bottom: 20px; /* Further reduce the margin for smaller screens */
        text-align: center;
    }

    .div-admin a {
        padding: 8px 14px;
        font-size: 12px;
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s;
        /* margin: 0px 0px 10px 10px; */

    }
}

/* Add any additional styling as needed */

.image-ban img {
    width: 180px;
}

#galerie-admin {
    display: flex;
    flex-wrap: wrap;
}

#galerie-admin .image-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid .1px #b8b8b8;
    padding: 20px;
}

#galerie-admin .image-info img {
    width: 200px;
}

#btn-sup-ban {
    text-align: center;
}

#btn-msg{
    font-size: 14px;
}