#section-coachs {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
    font-family: "Montserrat";
}

#coachs{
    display: flex;
    gap: 10%;
}

.coach{
    width: 45%;
    display: flex;
    background-color: #0c422f;
    box-shadow: 0 0 5px #0c422f;
}

.coach img{
    width: 300px;
    height: 100%;
}

.coach-prenom, .coach-nom{
    color:  #ffbc03;
    font-size: 34px;
    margin: 0;
    font-weight: 600;
    font-family: 'Didot';
}

.coach-nom{
    margin-left: 25px;
    font-weight: 300;
}

.coach-poste{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.coach-description{
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    height: 50%;
}

.coach>div:last-of-type{
    padding: 25px;
}

.coach-contact{
    background-color: #fff;
    box-shadow: 0 0 5px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50%;
    position: relative;
    left: 60%;
}

.coach-contact a{
    text-decoration: none;
    color: #0c422f;
    font-size: 13px;
    font-weight: 700;
}