#section-coachs {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    font-family: "Montserrat";
}

#coachs-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5%;
}

.coach {
    display: flex;
    width: 45%;
    margin-bottom: 50px;
}

.photo-coach{
    width: 50%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-coach img {
    width: 100%;
    object-fit: cover; /* or use 'contain' if you want the whole image to be visible */
    display: block;
    /* black and white */
    filter: grayscale(100%);
}

.coach:nth-child(4n+3) .info-coach, .coach:nth-child(4n+4) .info-coach {
    justify-content: flex-end;
}

.info-coach{
    width: 50%;
    margin: 0;
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-end;
}


.info-coach>div{
    background-color: #10a87d;
    /* background-color: #10a87d; */
    padding: 10px 10px ;
    width: 70%;
    height: 60%;
    
}

.coach p {
    margin-top: 0;
}

.coach:nth-child(4n+3),
.coach:nth-child(4n+4) {
    flex-direction: row-reverse;
}

.coach:nth-child(4n+2) .info-coach>div, .coach:nth-child(4n+3) .info-coach>div {
    background-color: #464646;
    color: white;
}

.coach:nth-child(4n+2) h3, .coach:nth-child(4n+3) h3{
    color: white;
}

.nom-coach-pro {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    padding-left: 35%;
    padding-right: 25%;
}

.nom-coach {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.nom-coach-pro h3, .nom-coach h3 {
    font-size: 22px;
    color: #17191c;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nom-coach-pro span {
    font-size: 18px;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(45deg, #ffe656, #ffba24, #ffe656, #ffba24, #ffe656, #ffba24);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    animation: gradientAnimation 10s infinite linear;
    /* shadow to see it better */
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.description-coach {
    display: flex;
    height: 120px;
    justify-content: center;
    padding: 0px 12px;
    font-size: 14px;
}

.fleche-coach {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    /* border: red solid; */
}

.fleche-coach img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.contact-coach {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    height: 40px;
    gap: 20px;
}

.contact-coach a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-coach img {
    width: 30px;
}

.contact-coach a:first-child {
    background-color: #0f9b73;
    width: 50%;
    height: 50px;
}

.contact-coach a:last-child {
    background-color: #1a76d2;
    height: 50px;
    width: 50%;
}

.nom-cache{
    display: none;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}


.modal-container {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    z-index: 1000;
    /* width: 400px; */
    width: 100%;
    height: 100vh;
}

.modal-img{
    width: 35%;
    display: flex;
    justify-content: center;
    background-color: #464646;
    position: relative;
    left: 20%;
    top: 30%;
}

.modal-img img{
    padding: 50px 0px;
    width: 60%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);

}

.modal-nom{
    display: flex;
    align-items: flex-end;
}

.modal-nom h2{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Styling for the close button */
.close-btn {
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
    font-size: 50px;
}

.modal-top {
    padding-left: 420px;
    padding-right: 420px;
    background-color: #10a87d;
    height: 35%;
    color: white;
    display: flex;
    border-bottom: #464646 1px solid;
}

.modal-bottom {
    border-top: #464646 1px solid;
    padding-left: 420px;
    padding-right: 420px;
    height: 65%;
    background-color: #464646;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-description{
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    width: 55%;
    margin-top: 30px;
}
