#section-coachs{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    font-family: "Montserrat";
}

#coachs-flex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.coach {
    display: flex;
    width: 50%;
    height: 0;
    padding-bottom: 25%;   
}

.coach div{
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    border: rgb(0, 255, 136) solid .1px;
    margin: 0;
}

.coach div:first-child {
    background-color: grey;
}

.coach:nth-child(4n+3),
.coach:nth-child(4n+4) {
    flex-direction: row-reverse;
}



