.bgvert{
    background-color: #10a87d;
}

.bggris{
    background-color: #464646;
}

.vert{
    color: #10a87d;
}

.gris{
    color: #464646;
}

.blanc{
    color: #fff;
}

.noir2{
    color : #17191c;
}

/* #10a87d
#a0d33c
#add75b
#badb76
#c6df8f
#d1e3a8
#dce7c1 */