#section-equipe {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
    font-family: "Montserrat";
}

.team {
    display: flex;
    flex-wrap: wrap;
}

.team-member {
    width: 23%;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    margin: 0px 1% 20px 1%;
}

.team-member img {
    width: 100%;
    object-fit: cover;
    box-shadow: #464646 .5px .5px 4px;
}

.team-member h3,
.team-member p {
    text-align: left;
}

.team-member p{
    color: #464646;
    margin: 0;
}

.team-member h3 {
    margin: 10px 0 5px;
}


@media screen and (max-width: 1440px) {
    #section-equipe {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width: 1024px) {
    #section-equipe {
        margin-left: 50px;
        margin-right: 50px;
    }
}



@media screen and (max-width: 768px) {
    #section-equipe {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 0px;
    }

    .team-member {
        width: 31.333%;
    }

}

@media screen and (max-width: 500px) {
    #section-equipe {
        margin: 50px 20px 20px 20px;
    }

    .team-member {
        width: 48%;
    }
    
}

@media screen and (max-width: 375px) {
    .team-member {
        width: 100%;
    }

    #section-equipe {
        margin: 50px 10px 0px 10px;
    }
}

