.section-error{
    margin: 100px 300px;
}

.section-error p{
    font-size: 50px;
    font-family: "Montserrat";
    text-align: center;
    margin: 30px;
}

.section-error span{
    display: flex;
    justify-content: center;

}

.section-error img{
    width: 80px;
    object-fit:fill;
}

.section-error span p{
    font-size: 80px;
    font-family: "Montserrat";
    text-align: center;
    margin: 0;
}

.section-error div{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}