/* evenement */
.event-div {
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    font-family: "Montserrat";
}

.img-event {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.event-div a {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

#event-banner {
    margin-bottom: 50px;
}

.event-details {
    border: solid .1px #eee;
    background-color: #fafafa;
    padding: 0px 35px;
    margin-bottom: 50px;
}

.event-details-flex {
    display: flex;
}

.event-details-gauche {
    width: 50%;
}

.event-details label {
    margin-bottom: 15px;
}

/* event-details input type text, number, date, time, email */
.event-details input[type="text"],
.event-details input[type="number"],
.event-details input[type="date"],
.event-details input[type="time"],
.event-details input[type="email"],
.event-details textarea,
.event-details select {
    width: 100%;
    height: 45px;
    padding: 10px;
    border: solid 1px #eee;
    border-radius: 5px;
    margin-bottom: 15px;
}

.event-details .checkbox-group {
    display: flex;
    align-items: center;
}

.event-details .checkbox-group label {
    margin-right: 70px;
    margin-bottom: 0;
    display: flex;
    align-items: center;

}


.event-details-droite {
    width: 50%;
}

.detail-titre {
    font-weight: bold;
    margin: 0;
}

.detail-data {
    margin-top: 0;
}

#section-evenements{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    font-family: "Montserrat";
}

.evenement-div{
    display: flex;
    flex-direction: column;
    border: #f5f5f7 .1px solid;
    padding: 20px 2% 20px 2%;
    border-radius: 20px;
    width: 45%;
    height: 300px;
    margin-bottom: 20px;
}

.evenement-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.evenement-img img{
    width: 100%;
    height: 200px;
}

.event{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.event p{
    margin: 0;
}

.event h3 {
 margin: 10px 0px;
}

.event a{
    text-decoration: none;
}


.evenement-flex{
    
}

.img-modifier{
    margin-top: 20px;
    width: 300px;
}