@font-face {
    font-family: 'Noto';
    src: url('/font/Noto_Sans_Vithkuqi/NotoSansVithkuqi-VariableFont_wght.ttf');
  }

@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Didot';
  src: url('/font/GFSDidot-Regular/GFSDidot-Regular.ttf');
}

@font-face {
  font-family: 'Cookie';
  src: url('/font/Cookie/Cookie-Regular.ttf');
}