#magasin{
    margin: 100px 300px;
}

#magasin h2{
    text-align: center;
    margin-bottom: 50px;
}

#magasin-gauche{
    width: 20%;
}

#magasin-gauche div{
    margin-bottom: 60px;
    /* border-bottom: rgb(219, 219, 219) solid .1px; */
}

#magasin-droite{
    width: 80%;
}

#tri-magasin{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin-bottom: 20px;
}

#produits-magasin{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}


.produit-magasin{
    width: 33%;
    margin-bottom: 50px;
}


/* second p of produit-magasin*/
.produit-magasin p:nth-child(3){
    margin-bottom: 30px;
}

.produit-magasin a{
    text-decoration: none;
}


.produit-magasin img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.empty p{
    font-size: 40px;
    font-family: "Montserrat";
    text-align: center;
    margin: 30px;
}

.empty span p{
    font-size: 80px;
    font-family: "Montserrat";
    text-align: center;
    margin: 0;
}

.empty div{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

@media (max-width : 1440px) {
    #magasin{
        margin: 100px 200px;
    }

    .empty .lien-retour{
        width: 100%;
        margin: 50px 0px;
    }
}

@media (max-width : 1024px) {
    #magasin{
        margin: 100px 100px;
    }

    .empty span p{
        font-size: 50px;
    }

    .empty p{
        font-size: 35px;
    }

}

@media (max-width : 768px) {
    #magasin{
        margin: 100px 50px;
    }

    .empty span p{
        font-size: 40px;
    }

    .empty p{
        font-size: 30px;
    }

}

@media (max-width : 425px) {
    #magasin{
        margin: 100px 20px;
    }

    .empty span p{
        font-size: 30px;
    }

    .empty p{
        font-size: 20px;
    }

}

@media (max-width : 375px) {
    #magasin{
        margin: 100px 20px;
    }

    .empty span p{
        font-size: 30px;
    }

    .empty p{
        font-size: 20px;
    }

}