header {
    height: 50px;
    font-family: "Noto";
    display: flex;
    align-items: center;
}

header>div {
    margin-left: 300px;
    margin-right: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header p {
    margin: 0;
}

header img {
    width: 20px;
    height: 20px;
}

header>div div {
    display: flex;
    gap: 20px;
}

#navigation {
    margin-left: 300px;
    margin-right: 300px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



#logo-nav img {
    width: 180px;
}


nav {
    font-family: "Montserrat";
}

nav a {
    text-decoration: none;
    color: #464646;
    margin-left: 45px;
}

nav a:hover {
    color: #79ac03;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 40px;
}

.dropdown-content a {
    display: flex;
    padding: 15px 8px 15px 8px;
    font-size: 15px;
    width: 110px;
    text-decoration: none;
    color: #333;
    margin-left: 0;
    /* Adjust the text color as needed */
}

.dropdown-content a:hover {
    background-color: #464646;
    color: #fff;
    /* Adjust the background color on hover as needed */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.user-menu {
    position: relative;
    display: inline-block;
}

.menu-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    /* Adjust the background color as needed */
    border: 1px solid #ccc;
    /* Adjust the border as needed */
    padding: 10px;
    z-index: 1000;
}

.user-menu:hover .menu-options {
    display: block;
}

/* Style links in the menu */
.menu-options a {
    display: flex;
    padding: 8px;
    font-size: 15px;
    width: 125px;
    text-decoration: none;
    color: #333;
    /* Adjust the text color as needed */
}

.menu-options a:hover {
    background-color: #f0f0f0;
    /* Adjust the background color on hover as needed */
}

#mobile-nav {
    display: none;
}


/* responsive */

@media (max-width: 1024px) {
    header {
        margin-left: 0;
        margin-right: 0;
    }

    header>div {
        margin-left: 0;
        margin-right: 0;
    }

    #navigation {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    header {
        margin-left: 0;
        margin-right: 0;
    }

    header>div {
        margin-left: 0;
        margin-right: 0;
    }

    #navigation {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    #navigation{
        display: none;
    }
    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #mobile-nav .panier-icone {
        margin-right: 15px;
    }

    /* Styles pour le burger menu lorsqu'il est caché */
    #burger-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #464646;
        z-index: 1000;
    }

    /* Styles pour le contenu du burger menu */
    #burger-menu-content {
        padding: 15px;
        width: 100%;
        margin: 50px auto;
    }

    /* Styles pour le burger icon */
    #burger-icon {
        font-size: 24px;
        cursor: pointer;
        margin-left: 15px;
    }

    /* Ajouter cette classe pour masquer le menu lorsqu'il est caché */
    #burger-menu.hidden {
        display: none;
    }

    .user-menu {
        background-color: none;
        width: 100%;
        /* margin-right: 500px; */
    }

    .user-menu a{
        color: #ccc;
        text-decoration: none;
    }

    .user-menu div{
        display: flex;
        flex-direction: column;
    }

    #nav-mobile{
        margin-top: 30px;
        padding-top: 20px;
        border-top: #ccc solid 1px;
        width: 395px;
    }

    nav a {
        margin-left: 0;
    }

    #nav-mobile nav{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #nav-mobile a{
        color: #ccc;
    }

    .compte-mobile-head{
        font-size: 20px;
        color: White;
        /* bold */
        font-weight: 700;
        margin-bottom: 20px;
    }
    #logo-nav-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo-nav-mobile img {
        width: 120px;
        height: 50px;
    }

}