header{
    height: 50px;
    font-family: "Noto";
    display: flex;
    align-items: center;
}

header > div{
    margin-left: 300px;
    margin-right: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
} 

header p {
    margin:0;
}

header img{
    width: 20px;
    height: 20px;
}

header > div div{
    display: flex;
    gap: 20px;
}

#navigation{
    margin-left: 300px;
    margin-right: 300px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-nav img{
    width: 180px;
}


nav {
    font-family: "Montserrat";
}

nav a{
    text-decoration: none;
    color: #464646;
    margin-left: 45px;
}

.user-menu {
    position: relative;
    display: inline-block;
}

.menu-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff; /* Adjust the background color as needed */
    border: 1px solid #ccc; /* Adjust the border as needed */
    padding: 10px;
    z-index: 1000;
}

.user-menu:hover .menu-options {
    display: block;
}

/* Style links in the menu */
.menu-options a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #333; /* Adjust the text color as needed */
}

.menu-options a:hover {
    background-color: #f0f0f0; /* Adjust the background color on hover as needed */
}
