#section-partenaires {
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    font-family: "Montserrat";
}

#partenaire-majeur {
    text-align: center;
}

#partenaire-majeur h2{ 
    font-size: 40px;
    font-weight: bolder;
    /* text-transform: uppercase; */
}

#partenaire-majeur img {
    width: 300px;
    margin: 15px 0px 40px 0px;
}

#partenaires{
    margin-bottom: 100px;
}

#partenaires h2{
    text-align: center;
    margin-bottom: 50px;
}

#partenaires div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#partenaires img {
    width: 150px;
}